.Header {
  position: fixed;
  width: 100%;
  line-height: 4em;

  align-items: center;
  transition: 0.6s;
  padding: 15px 10%;

  color: #eeeeee;
  z-index: 1000;
}

.sticky {
  top: 0;
  padding: 0px 10%;
  background-color: var(--black2);
  /* background: #32e0c4; */
}

.Nav-Block {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.Logo {
  font-size: 1.7em;
  font-weight: bolder;
  cursor: pointer;
}

.Nav {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.Item {
  font-size: 1em;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: 2px solid transparent;
}

.Item:hover {
  font-size: 1em;
  letter-spacing: 0.1em;
  cursor: pointer;
  border-bottom: 2px solid #32e0c4;
}

.buttons {
  display: flex;
  justify-content: space-between;
  border: 2px solid transparent;
}

.button span {
  color: var(--white);
  background-color: var(--blue);
  font-weight: 600;
  padding: 5px 15px;
  font-size: 0.9em;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 5px;
  transition: all 0.2s ease-in-out;
}

.button span:hover {
  color: black;
}

.username {
  margin: 0 10px;
}

.red span {
  background-color: #ff414d;
}
