* {
  margin: 0;
  padding: 0;
  display: border-box;
}
.Sidepan {
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 40px;
  margin-top: 0px;
  padding-left: 8em;
  font-size: 1.2em;
}

.Sidepan li {
  margin-top: 20px;
  padding: 0 20px;
  cursor: pointer;
}

.Sidepan .active {
  line-height: 2em;
  margin-top: 20px;
  color: #32e0c4;
  border-radius: 5px;
}

.Sidepan li:hover {
  /* background: rgba(0, 0, 0, 0.1); */

  font-size: 1em;
  cursor: pointer;
  border-bottom: 2px solid #32e0c4;
}
